:root {
    --color-light-main: #8d6448;
    --color-main: #613c21;
    --color-dark-main: #473123;

    --color-back: #e6e4d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: minmax(min-content, max-content) 1fr minmax(min-content, max-content) / 1fr;
    min-height: 100vh;
    font-family: 'Montserrat';
}

/*
    Header
*/

header {
    width: 100%;
}

header .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-main);
    color: var(--color-back);
    padding: 1rem;
}

header .title h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

header .title button {
    border: none;
    background-color: transparent;
}

header .title button img {
    height: 2.5rem;
    aspect-ratio: 1 / 1;
}