:root {
    --color-light-main: #8d6448;
    --color-main: #613c21;
    --color-dark-main: #473123;
    --color-back: #e6e4d8;
    --color-dark-back: #d1bb96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: minmax(min-content, max-content) 1fr minmax(min-content, max-content) / 1fr;

    min-height: 100vh;
    font-family: 'Montserrat';
    background-color: var(--color-back);
}

/*
    Header
*/

header {
    width: 100%;
    background-image: url("../img/choco-dripping.svg");
    height: 170px;
}

header .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: var(--color-back);
    padding: 1rem;
}

header .title h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

header .title button#onoff {
    border: none;
    background-color: transparent;
}

header .title button#onoff:not(.active) {
    animation: start-button-anim ease-in-out 2.5s infinite;
}

@keyframes start-button-anim {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
}


header .title button img {
    height: 2.5rem;
    aspect-ratio: 1 / 1;
}

header .title button.active img.off {
    display: none;
}

header .title button:not(.active) img.on {
    display: none;
}

/*
    Main
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
    min-height: 100%;
}

main .content-screen {
    display: flex;
    flex-direction: column;
}

main .content-screen .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Main - Load Screen
*/

main .content-screen .content .loader {
    font-size: 10px;
    margin: 30% auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: var(--color-main);
    position: relative;
    animation: load3 1.4s infinite linear;
}

main .content-screen .content .loader:before {
    width: 48%;
    height: 48%;
    background: var(--color-back);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

main .content-screen .content .loader:after {
    background: var(--color-back);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes load3 {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

/*
    Main - Mode Selector Screen
*/

main .content-screen .content .modo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /*
    font-weight: 900;
    font-size: 3rem;
    */
}
/*
main .content-screen .content .modo {
    display: flex;
    justify-content: center;
}
*/
main .content-screen .content .modo button {
    border: none;
    font-size: 3.5rem;
    font-weight: 900;
    background-color: var(--color-back);
    color: var(--color-light-main);

    display: inline-block;
    position: relative;
}

main .content-screen .content .modo .btn-mode-unselected:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5rem;
    bottom: 0;
    left: 0;
    background-color: var(--color-dark-main);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

main .content-screen .content .modo button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom  left;
}

main .content-screen .content .modo .btn-mode-selected {
    color: var(--color-dark-main);

    display: inline-block;
    position: relative; 
}

main .content-screen .content .modo .btn-mode-selected:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5rem;
    bottom: 0;
    left: 0;
    background-color: var(--color-light-main);
}

main .content-screen .content .modo span {
    border: none;
    font-size: 3.5rem;
    font-weight: 900;
    padding: 0 1rem 0;
    color: var(--color-dark-main);
}

/*
    Main - Color Screen
*/

main .content-screen .content img {
    padding-bottom: 1.5em;
}

main .content-screen .content p {
    color: var(--color-dark-main);
    font-weight: 900;
    font-size: 3rem;
    line-height: 2.8rem;
    padding: 0 2.8rem 0;
}



/*
    Main - Matrix Screen
*/

main .content-screen .content .matrix {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 0.5rem;

    width: 25rem;
    aspect-ratio: 1 /1;

    padding: 0.5rem;

    background-color: var(--color-dark-main);
}

main .content-screen .content .matrix .cell {
    background-color: var(--color-back);
}

main .content-screen .content .matrix .cell.blanco {
    background-image: url(../img/choco-blanco.svg);
}

main .content-screen .content .matrix .cell.conleche {
    background-image: url(../img/choco-con-leche.svg);
}

main .content-screen .content .matrix .cell.selected {
    animation: selected_cell 1s infinite ease-in-out;
    background-color: var(--color-dark-back);
}

@keyframes selected_cell {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.9;
    }
}

/*
    Main - Botones
*/

main .content-screen .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

main .content-screen .buttons button {
    border: none;
    border-radius: 9999px;

    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    
    color: var(--color-back);
    font-size: 1.5rem;
    font-weight: 900;
    
    background-color: var(--color-dark-main);
    overflow: hidden;

    transition: all ease-in 0.09s;
}

main .content-screen .buttons button:hover, button.active {
    background-color: var(--color-light-main);
    scale: 1.05;
}

main .content-screen .buttons button:active {
    background-color: var(--color-dark-main);
    scale: 0.9;
}

/*
    Footer
*/

footer {
    text-align: center;
    padding: 1rem;

    font-weight: 700;

    color: var(--color-back);
    background-color: var(--color-main);
}